.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  mat-toolbar{
      /* background: rgb(29, 115, 214); */
      /* color: #F1F1F1; */
      height: 42px;
      display: flex;
      justify-content: space-between;
  }
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  .example-sidenav-container {
    background: #F5F5F5;
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    mat-sidenav{
      background: #F5F5F5;
      border-top: 1px solid #ddd;
      border-top-right-radius: 5px; 
    }
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }


