<section class="left-content">
  <button mat-icon-button color="accent" routerLink="/home">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <span>MyCompany</span>
</section>
<section class="search">
  <div class="form">
    <input>
    <button mat-button>
      <mat-icon>search</mat-icon>
    </button>
  </div>
</section>
<section class="right-content">
<!--   <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>apps</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>App 1</button>
    <button mat-menu-item>App 2</button>
  </mat-menu> -->

  <button mat-button [matMenuTriggerFor]="notifyMenu">
    <mat-icon matBadge="2" matBadgeColor="primary">notifications</mat-icon>
  </button>
  <mat-menu #notifyMenu="matMenu">
    <button mat-menu-item>Notification 1</button>
    <button mat-menu-item>Notification 2</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item>English</button>
    <button mat-menu-item>دری</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="signin()" *ngIf="!isLoggedIn">Login</button>
    <button mat-menu-item (click)="signout()" *ngIf="isLoggedIn">Logout</button>
    <button mat-menu-item (click)="signup()">Signup</button>
  </mat-menu>
</section>