:host{
    h6{
        color: #999;
        margin: 5px 20px;
        width: 150px;
        font-family: "Roboto","Helvetica Neue",sans-serif;
    }
    .mat-list-item{
        img{
            width: 20px;
        }
    }
    .mat-list-item:hover{
        cursor: pointer;
    }
}